# Add project-specific packages for Buildroot here
#
# If these are non-proprietary, please consider contributing them back to
# Nerves or Buildroot.
<%= for pkg <- custom_packages do %>
source "$NERVES_DEFCONFIG_DIR/package/<%= pkg %>/Config.in"
<% end %>
